.form-ctn  {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset {
  width: 500px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  label {
    margin-left: 10px;
  }
  input, textarea {
    margin: 10px 0 10px auto;
    width: 250px;
  }
}
.field-ctn {
  display: flex;
}
.error-msg {
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  // display: none;
}
