<form class="form" (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <h2>Inscription</h2>
  <label>
    Nom d'utilisateur:
  </label>
  <input type="text" formControlName="username" required minlength="3" maxlength="12">

  <div formGroupName="credentials" class="credentials">
    <label>
      Email:
    </label>
    <input type="email" required email formControlName="email">

    <label>
      Mot de passe:
    </label>
    <input type="password" required minlength="8" formControlName="password">
  </div>

  <button type="submit" [disabled]="!userForm.valid">S'inscrire</button>
</form>

