.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}
.big-button {
  height: 50px;
  width: 150px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: scale 0.3s;
  margin-bottom: 25px;
  &:hover {
    cursor: pointer;
    scale: 1.05;
    transition: scale 0.3s;
  }
}
.center {
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  gap: 50px;
  margin-bottom: 50px;
}
.pop-up {
  position: fixed;
  top: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightgreen;
  padding: 25px;
  z-index: 1000;
  background-color: lightgreen;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}
